@use '../mixins/responsive.scss' as *;

.main{
   position: relative;
   top: 400px;
   padding-left: 40px;
   padding-right: 40px;
   text-align: center;
   @include responsive (desktop){
    top: 100px;
   }
}


.article{
    &__title{
        width: 75%;
        font-size: 2rem;
        margin-right: auto;
        margin-left: auto;
        @include responsive (desktop){
            width: 700px;
        }
    }
    &__text,
    &__description{
        font-size: 1.3rem;
        line-height: 1.9rem;
        word-spacing: 2px;
        color: var(--grayish-blue);
        margin-bottom: 60px; 
        @include responsive (desktop){
            width: 700px;
            margin-right: auto;
            margin-left: auto;
        }
    }
    &__image{
        margin-bottom: 80px;
        @include responsive (desktop){
            position:absolute;
            left: -100px;
        }
    }
    &__description-h3{
        color: black;
    }
    &__description{
        margin-bottom: 200px;
        @include responsive (desktop){
            text-align: left;
            position: absolute;
            right: 250px;
            top: 250px;
            width: 400px;
        }
    }
}
.article--tablet{
    @include responsive (desktop){
        position:relative;
        top: 800px;
        margin-right: auto;
        margin-left: auto; 
    }
}
.article__image--tablet{
    margin-right: auto;margin-left: auto;
}
