@use '../mixins/responsive.scss' as *;

.buttons{
    @include responsive(desktop){
        width: 750px;
        display: flex;
        margin-left: auto;margin-right: auto;
    } 
}

.button{
    width: 80%;
    height: 50px;
    margin-left: auto;margin-right: auto;
    border-radius: 2rem;
    color: white;
    padding-top: 15px;
    font-size: 1.3rem;
    @include responsive(desktop){
        width: 350px;
    }

    &--ios{
        margin-bottom: 20px;
        background-color: var(--strong-cyan);
       
    }

    &--mac{
        background-color: var(--light-blue);
    
    }
    &--ios:hover{
        box-shadow: 1px 1px 10px var(--strong-cyan);
    }
    &--mac:hover{
        box-shadow: 1px 1px 10px var(--light-blue);
    }
}

